<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>
            {% block title %}
                Tailwindbase
            {% endblock title %}
        </title>
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/output.css') }}" />
        <script>
              if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
                document.documentElement.classList.add('dark');
              } else {
                document.documentElement.classList.remove('dark')
              }
        </script>
    </head>
    <body class="bg-Crust text-Text">
        {% block navbar %}
        {% endblock navbar %}
        <div class="container mx-auto">
            {% block content %}
                <h1 class="bg-black text-white">Flow bite content</h1>
            {% endblock content %}
        </div>
        {% block footer %}
        {% endblock footer %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>
        <!-- <script src="../../node_modules/flowbite/dist/flowbite.min.js"></script> -->
    </body>
</html>